name: Build OpenWrt llvm toolchain for aarch64
on:
   workflow_dispatch:
jobs:
    build1:
        name: Build bcm2712 OpenWrt llvm toolchain for aarch64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: checkout
              uses: actions/checkout@v4
            - name: Build
              run: |
                git clone https://github.com/openwrt/openwrt.git
                cd openwrt
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                echo "CONFIG_TARGET_bcm27xx=y" > .config
                echo "CONFIG_TARGET_bcm27xx_bcm2712=y" >> .config
                echo "CONFIG_TARGET_MULTI_PROFILE=y" >> .config
                echo "CONFIG_DEVEL=y" >> .config
                echo "CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y" >> .config
                echo "# CONFIG_BPF_TOOLCHAIN_PREBUILT is not set" >> .config
                echo "CONFIG_BUILD_LOG=y" >> .config
                echo "CONFIG_SDK_LLVM_BPF=y" >> .config
                echo "# CONFIG_TARGET_ROOTFS_INITRAMFS is not set" >> .config
                echo "# CONFIG_TARGET_ROOTFS_SQUASHFS is not set" >> .config
                echo "CONFIG_USE_LLVM_BUILD=y" >> .config
                echo "CONFIG_MAKE_TOOLCHAIN=y" >> .config
                echo "CONFIG_PACKAGE_opkg=y" >> .config
                echo "CONFIG_PACKAGE_base-files=y" >> .config
                make defconfig
                make download -j32
                make -j$(nproc) 'IGNORE_ERRORS=n m'
                rm -rf bin/targets/bcm27xx/bcm2712/packages
                echo "D=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            - name: Delete tag
              uses: ClementTsang/delete-tag-and-release@v0.4.0
              with:
                delete_release: true
                tag_name: bcm2712-21.1.6
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@main
              with:
                allowUpdates: true
                name: BCM2712 LLVM TOOLCHAIN v21.1.6 aarch64 ${{ env.D }}
                tag: bcm2712-21.1.6
                replacesArtifacts: true
                makeLatest: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/bcm27xx/bcm2712/*

    build2:
        name: Build Filogic OpenWrt llvm toolchain for aarch64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: checkout
              uses: actions/checkout@v4
            - name: Build
              run: |
                git clone https://github.com/openwrt/openwrt.git
                cd openwrt
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                echo "CONFIG_TARGET_mediatek=y" > .config
                echo "CONFIG_TARGET_mediatek_filogic=y" >> .config
                echo "CONFIG_TARGET_MULTI_PROFILE=y" >> .config
                echo "CONFIG_DEVEL=y" >> .config
                echo "CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y" >> .config
                echo "# CONFIG_BPF_TOOLCHAIN_PREBUILT is not set" >> .config
                echo "CONFIG_BUILD_LOG=y" >> .config
                echo "CONFIG_SDK_LLVM_BPF=y" >> .config
                echo "# CONFIG_TARGET_ROOTFS_INITRAMFS is not set" >> .config
                echo "# CONFIG_TARGET_ROOTFS_SQUASHFS is not set" >> .config
                echo "CONFIG_USE_LLVM_BUILD=y" >> .config
                echo "CONFIG_MAKE_TOOLCHAIN=y" >> .config
                echo "CONFIG_PACKAGE_opkg=y" >> .config
                echo "CONFIG_PACKAGE_base-files=y" >> .config
                make defconfig
                make download -j32
                make -j$(nproc) 'IGNORE_ERRORS=n m'
                rm -rf bin/targets/mediatek/filogic/packages
                rm -f bin/targets/mediatek/filogic/*.bin
                echo "D=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            - name: Delete tag
              uses: ClementTsang/delete-tag-and-release@v0.4.0
              with:
                delete_release: true
                tag_name: filogic-21.1.6
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@main
              with:
                allowUpdates: true
                name: FILOGIC LLVM TOOLCHAIN v21.1.6 aarch64 ${{ env.D }}
                tag: filogic-21.1.6
                replacesArtifacts: true
                makeLatest: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/mediatek/filogic/*

    build3:
        name: Build ipq807x OpenWrt llvm toolchain for aarch64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: checkout
              uses: actions/checkout@v4
            - name: Build
              run: |
                git clone https://github.com/openwrt/openwrt.git
                cd openwrt
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                echo "CONFIG_TARGET_qualcommax=y" > .config
                echo "CONFIG_TARGET_qualcommax_ipq807x=y" >> .config
                echo "CONFIG_TARGET_MULTI_PROFILE=y" >> .config
                echo "CONFIG_DEVEL=y" >> .config
                echo "CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y" >> .config
                echo "# CONFIG_BPF_TOOLCHAIN_PREBUILT is not set" >> .config
                echo "CONFIG_BUILD_LOG=y" >> .config
                echo "CONFIG_SDK_LLVM_BPF=y" >> .config
                echo "# CONFIG_TARGET_ROOTFS_INITRAMFS is not set" >> .config
                echo "# CONFIG_TARGET_ROOTFS_SQUASHFS is not set" >> .config
                echo "CONFIG_USE_LLVM_BUILD=y" >> .config
                echo "CONFIG_MAKE_TOOLCHAIN=y" >> .config
                echo "CONFIG_PACKAGE_opkg=y" >> .config
                echo "CONFIG_PACKAGE_base-files=y" >> .config
                make defconfig
                make download -j32
                make -j$(nproc) 'IGNORE_ERRORS=n m'
                rm -rf bin/targets/qualcommax/ipq807x/packages
                echo "D=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            - name: Delete tag
              uses: ClementTsang/delete-tag-and-release@v0.4.0
              with:
                delete_release: true
                tag_name: ipq807x-21.1.6
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@main
              with:
                allowUpdates: true
                name: IPQ807X LLVM TOOLCHAIN v21.1.6 aarch64 ${{ env.D }}
                tag: ipq807x-21.1.6
                replacesArtifacts: true
                makeLatest: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/qualcommax/ipq807x/*

    build4:
        name: Build Rockchip OpenWrt llvm toolchain for aarch64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: Setup Ubuntu
              run: |
                sudo apt update
                sudo apt install -y subversion build-essential gettext 2to3 python3-pyelftools python3-distutils-extra
            - name: checkout
              uses: actions/checkout@v4
            - name: Build
              run: |
                git clone https://github.com/openwrt/openwrt.git
                cd openwrt
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                echo "CONFIG_TARGET_rockchip=y" > .config
                echo "CONFIG_TARGET_rockchip_armv8=y" >> .config
                echo "CONFIG_TARGET_MULTI_PROFILE=y" >> .config
                echo "CONFIG_DEVEL=y" >> .config
                echo "CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y" >> .config
                echo "# CONFIG_BPF_TOOLCHAIN_PREBUILT is not set" >> .config
                echo "CONFIG_BUILD_LOG=y" >> .config
                echo "CONFIG_SDK_LLVM_BPF=y" >> .config
                echo "# CONFIG_TARGET_ROOTFS_INITRAMFS is not set" >> .config
                echo "# CONFIG_TARGET_ROOTFS_SQUASHFS is not set" >> .config
                echo "CONFIG_USE_LLVM_BUILD=y" >> .config
                echo "CONFIG_MAKE_TOOLCHAIN=y" >> .config
                echo "CONFIG_PACKAGE_opkg=y" >> .config
                echo "CONFIG_PACKAGE_base-files=y" >> .config
                make defconfig
                make download -j32
                make -j$(nproc) 'IGNORE_ERRORS=n m'
                rm -rf bin/targets/rockchip/armv8/packages
                echo "D=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            - name: Delete tag
              uses: ClementTsang/delete-tag-and-release@v0.4.0
              with:
                delete_release: true
                tag_name: rockchip-21.1.6
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@main
              with:
                allowUpdates: true
                name: ROCKCHIP LLVM TOOLCHAIN v21.1.6 aarch64 ${{ env.D }}
                tag: rockchip-21.1.6
                replacesArtifacts: true
                makeLatest: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/rockchip/armv8/*

    build5:
        name: Build x86_64 OpenWrt llvm toolchain for aarch64
        runs-on: ubuntu-24.04-arm
        steps:
            - name: checkout
              uses: actions/checkout@v4
            - name: Build
              run: |
                git clone https://github.com/openwrt/openwrt.git
                cd openwrt
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                echo "CONFIG_TARGET_x86=y" > .config
                echo "CONFIG_TARGET_x86_64=y" >> .config
                echo "CONFIG_TARGET_MULTI_PROFILE=y" >> .config
                echo "CONFIG_DEVEL=y" >> .config
                echo "CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y" >> .config
                echo "# CONFIG_BPF_TOOLCHAIN_PREBUILT is not set" >> .config
                echo "CONFIG_BUILD_LOG=y" >> .config
                echo "CONFIG_SDK_LLVM_BPF=y" >> .config
                echo "# CONFIG_TARGET_ROOTFS_INITRAMFS is not set" >> .config
                echo "# CONFIG_TARGET_ROOTFS_SQUASHFS is not set" >> .config
                echo "CONFIG_USE_LLVM_BUILD=y" >> .config
                echo "CONFIG_MAKE_TOOLCHAIN=y" >> .config
                echo "CONFIG_PACKAGE_opkg=y" >> .config
                echo "CONFIG_PACKAGE_base-files=y" >> .config
                make defconfig
                make download -j32
                make -j$(nproc) 'IGNORE_ERRORS=n m'
                rm -rf bin/targets/x86/64/packages
                echo "D=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            - name: Delete tag
              uses: ClementTsang/delete-tag-and-release@v0.4.0
              with:
                delete_release: true
                tag_name: x86_64-21.1.6
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@main
              with:
                allowUpdates: true
                name: X86_64 LLVM TOOLCHAIN v21.1.6 aarch64 ${{ env.D }}
                tag: x86_64-21.1.6
                replacesArtifacts: true
                makeLatest: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/x86/64/*
